

@font-face {
    font-family: 'NimbusSanLBol';
    src: url('../fonts/NimbusSanLBol.eot');
    src: url('../fonts/NimbusSanLBol.eot') format('embedded-opentype'),
         url('../fonts/NimbusSanLBol.woff2') format('woff2'),
         url('../fonts/NimbusSanLBol.woff') format('woff'),
         url('../fonts/NimbusSanLBol.ttf') format('truetype'),
         url('../fonts/NimbusSanLBol.svg#NimbusSanLBol') format('svg');
}


@font-face {
    font-family: 'NimbusSanLBolIta';
    src: url('../fonts/NimbusSanLBolIta.eot');
    src: url('../fonts/NimbusSanLBolIta.eot') format('embedded-opentype'),
         url('../fonts/NimbusSanLBolIta.woff2') format('woff2'),
         url('../fonts/NimbusSanLBolIta.woff') format('woff'),
         url('../fonts/NimbusSanLBolIta.ttf') format('truetype'),
         url('../fonts/NimbusSanLBolIta.svg#NimbusSanLBolIta') format('svg');
}

@font-face {
    font-family: 'NimbusSanLReg';
    src: url('../fonts/NimbusSanLReg.eot');
    src: url('../fonts/NimbusSanLReg.eot') format('embedded-opentype'),
         url('../fonts/NimbusSanLReg.woff2') format('woff2'),
         url('../fonts/NimbusSanLReg.woff') format('woff'),
         url('../fonts/NimbusSanLReg.ttf') format('truetype'),
         url('../fonts/NimbusSanLReg.svg#NimbusSanLReg') format('svg');
}
@font-face {
    font-family: 'NimbusSanLRegIta';
    src: url('../fonts/NimbusSanLRegIta.eot');
    src: url('../fonts/NimbusSanLRegIta.eot') format('embedded-opentype'),
         url('../fonts/NimbusSanLRegIta.woff2') format('woff2'),
         url('../fonts/NimbusSanLRegIta.woff') format('woff'),
         url('../fonts/NimbusSanLRegIta.ttf') format('truetype'),
         url('../fonts/NimbusSanLRegIta.svg#NimbusSanLRegIta') format('svg');
}
