//Font Family
$medium_font-family: sans-serif;
$bold_font-family: 'NimbusSanLBol',
sans-serif;
$light_font-family:'',
sans-serif;
$bold_itlaic_font-family:'NimbusSanLBolIta',
sans-serif;
$regular_font-family: 'NimbusSanLReg',
sans-serif;
$regular_italic_font-family:'NimbusSanLRegIta',
sans-serif;



//Font Weight

$medium_font-weight: normal;
$light_font-weight: normal;
$regular_font-weight: normal;
$bold_font-weight: normal;
$bold_itlaic_font-weight:normal;
$regular_italic_font-weight:normal;